.navbar-form{
	padding: 0px;
    margin-bottom: 0px;
	border-bottom: 0px;
	margin-top: 0px;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
.mobile-distance{
	width: 100%;
	background-color:#8F000B;
}

.mobile-nav{
	 background-color:#8F000B;

}
.mobile-title{
	font-size: 10px;
	background-color: #272822;
	margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 250px;

    opacity: 0.8;

}
.mobile-foot-title{
	display: none;
}
.mobile-link{
	display: none;
}

.footer-text{
    margin-top: 0px;
 
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	width: 50%;
	margin-left: 0px;
	padding-left: 0px;

}

.mobile-img{
	width: 70%;
   height: 50%;
   display: inline-block;

}

.news-dist{  
	margin-top: 5px;



}
.news-button{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
}


.carousel-indicators li{
	width: 7px;
	height: 7px;
}
.carousel-indicators .active{
	width: 8px;
	height: 8px;
}
.mobile-date{
	display: none;
}
.mobile-new-detail{
	display: none;
}
.mobilead-img{
	width: 100%;
	height: 120px;
}
.helper-img{
	display: none;

}
.foot-icon{
	
	padding-left:30px;
	padding-right: 30px;
}

.helper-title{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 50px;
	
}
.mobile-helper{
    background-color: #6F3740;
}
.mobile-helper2{
	background-color: #7B4366;
}
.mobile-helper3{
	background-color: #876FA7;
}
.mobile-helper4{
	background-color: #47527F;
}	
.mobile-helper5{
	background-color: #64A2AF;
	margin-bottom: 30px;
}
.detail-title{
	display: none;
}
.detail-img{
	width: 100%;
	height:160px;
}

.detail-foot{
	text-align: right;
}
.col-md-6{
	margin-top: 10px;
	padding-left: 0px;

}
.detail-new-title{
	font-size: 18px;
	color: #D9534F;
	text-align: center;
	padding-top: 20px;
}
.container-list{
	margin-top: 30px;
	margin-bottom: 30px;

}
.mobile-footer{
	padding-left: 30px;
	width: 100%;
	display: block;
}
.footer-logo{
    margin: 0 auto; 
    margin-top: 6px;
}
.ipad-img{
	width: 1200px;
}
.nav-justified>.dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
}
.assitant{
	display: none;
}
.footer-logo{
	text-align: center;
}
.left-nav{
	display: none;
}
.footer{
	margin-top: 35px;
}
.detail-center{
	font-size: 18px;
	margin-top: 35px;
	text-align: center;
}
.footer-text{

    background-color: #8F000B;
	color: #ffffff;
	font-size: 12px;

}