<!DOCTYPE html >
    <html lang="zh-cmn-Hans">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>
			    index
			</title>
                <meta name="description" content="massage">
                <meta name="keywords" content ="massage">
                <meta name="author" content="LM">
                <link href="../public/index.css" rel="stylesheet" type ="text/css">
        </head>
        <body>
	        
		<div class="top">
			   CYL’博客
			</div>
	
		
			<div class="marjor1">
			       <div class="nav">
				       About us
				   </div>
			       <ul>
				       <li><a href="index.html">首页<a></li>
				       <li><a href="message1.html">留言板</a></li>
				       <li><a href="#"> 相册<a></li>
				       <li><a href="#">关于我</a> </li>
				       <li><a href="#">我的好友<a></li>
				   </ul>
			   </div>
			   <div class="marjor2">
			        <div class="head">
					<h7>谈《当幸福来敲门》</h7>
					</div>
			       <div class="container">
			           <div class="content1">
					   <img src="../img/hp.jpg" width="300px"height="300px;"/>
			          </div>
					  <div class="content2">
					 
                           &nbsp;&nbsp;就如同海明威在《太阳照常升起》的序言中说的那样，这世界大多数人都在迷茫。我们安慰自己，只因为那里，或许有个上帝，端坐天堂.《当幸福来敲门》。我想这个译名大约是来自最后父子俩的一个幽默。Knock，knock。这个拟声词，足以让译者瞬间捕获一个温馨而动人的灵感。看到最后，我究竟是红了眼眶。虽然片子励志的目的这样暴露这样突兀。八十年代初的美国，越战结束五年，这个社会才开始慢吞吞的让战争的萧条逐渐复苏。黑人。婚姻破裂。受教育不多。带着这些背景的主人公足以映衬出一些美国当代社会的残酷现实。爱默生曾说在美利坚这个国家，无论是精神还是财富，从来都不会平等。可是放眼四顾，每个人都在微笑，看起来都他妈的那么幸福。有多少个美国人，就有多少个美国梦。杰弗逊在美国的独立宣言上十三次提到这个词语。在那个时刻，这位伟大的美国开国元勋相信这是上帝指引他的梦想，于是他们拿起刀枪，不再高唱《上帝保佑女王》。
                        </div>
						</div>
                        <div class="include">
						    <div class="content3">
							    <img src="../img/hap.jpg" width="330"height="330"/>
							</div>
                            <div class="content4"> 
							&nbsp;&nbsp;两百年过去了，杰弗逊成了美钞上的头像，然而幸福却依然无法流。政府和慈善家们给人提供牛奶和食物，提供临时住房，却依然无法给人一个幸福的幻觉。生活是苦的，眼泪是咸的。卖掉那些白色的“时光机器”不足以维持一个很好的生活，却足以引起嬉皮士少女和精神病患者的目光。全球化把人缩小，电影又把人放大。安东里奥尼的一句话道尽了电影艺术的魅力。我们失去了关注的焦距，可对于金钱和物质，我们仍旧保持充足的食欲。我大学的时候读的昆德拉的第一本书——《生命不可承受之轻》里有句话这样写道：生活时常会让我们感到艰辛，并会让我们无数次目睹生命在各种重压下的扭曲与变形。于是我们看到了，平时彬彬有礼，看到幼儿园外墙上有fuck涂鸦都无法容忍的父亲，却被生活逼的像条疯狗：不付出租车费，为了十四美元和好友翻脸，还蛮狠无礼插队爆粗。在社会底层挣扎太久，生存的本能无意中便阉割了美德。
                            </div>
                        </div>-->
					   
			        
			   
        </body>
    </html>